* {
    box-sizing: border-box;
}

header,
section {
    overflow: hidden;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bggradient: linear-gradient(to bottom,
            #0774aa, #7fd2fa);
}

header a {
    font-size: 0.9em;
    color: whitesmoke;
}

header {
    background: #7fd2fa;
    background: var(--bggradient);
}


header .nav-link {
    padding: 0.9em;
    padding-right: 0.9em;
    font-size: 1.2em;
}

header .navbar-brand {
    padding-left: 2.5rem;
    font-size: 2.4em;
}

header .navbar-brand:hover {
    color: black;
}

header .nav-link:hover {
    color: black;
}

header .row .col-md-6 img {
    width: 55%;
}

header .container {
    padding-bottom: 10vmin;
}

header .container .col-md-6 h3 {
    font-size: 5.5vmin;
    font-weight: bold;
    padding: 10vmin 1vmin;
    color: whitesmoke;
}

.section-1 {
    padding: 7vmin 5vmin;
}

.section-1 h4 {
    padding-bottom: 3vmin;
    font-size: 2em;
    font-weight: bolder;
}

.carousel-item img {
    opacity: 0.95;
    width: 80%;
    height: 400px;
    border-radius: 0.5em;
}

#information {
    background-color: #3788b1;
    padding: 2vmin;
    font-size: 4vmin;
    border-radius: 0.5em;
    font-weight: bolder;
    color: whitesmoke;
}

.section-2 h4 {
    padding: 2vmin;
    font-size: 4.5vmin;
}

.section-2 p {
    padding-left: 8em;
    padding-right: 8em;
    font-size: 3vmin;
}

.section-3 #services {
    font-size: 6vmin;
    font-style: bold;
    font-weight: bolder;
    padding-top: 2vmin;
}

.section-3 .team {
    padding: 6vmin 4vmin;
}

.section-3 .card {
    width: 27rem;
    border-radius: 1em;
}

.section-3 .card .card-text {
    padding: 0.5em;
}

.section-3 .card img {
    width: 80%;
    height: 300px;
}

footer {
    background: linear-gradient(to bottom,
            #787c7e, #161718);
    ;
}

footer h1 {
    color: whitesmoke;
    padding: 20px;
}

footer .phone {
    border-radius: 3em;
    background: white;
    display: inline-block;
    padding: 1vmin 8.5vmin;
    margin: 1em;
}

footer .phone p {
    font-size: 2.3vmin;
}

.section-2 .textHolder {
    background: #7fd2fa;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1.5em;
}

.section-2a {
    background: #7fd2fa;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

.section-2a h2 {
    padding: 2vmin;
    font-size: 2.35em;
    background-color: #3788b1;
    border-radius: 0.5em;
    font-weight: bolder;
    color: whitesmoke;
}

.section-2a .list {
    background: #7fd2fa;
    padding: 3vmin;
    font-size: 1.35em;
    font-weight: bold;
}

.buttons-position {
    position: fixed;
    z-index: 100;
    border-radius: 500px;
    bottom: 5%;
    right: 3%;
}

.buttons-position img {
    width: 80px;
    height: 80px;
    padding: 1vmin;
}

.maps {
    margin: 50px;
    text-align: center;
}

.maps div iframe {
    max-width: 100%;
    max-height: 100%;
    height: 650px;
}

@media only screen and (max-width: 800px) {
    .carousel-item img {
        height: 300px;
        border-radius: 0.5em;
    }

    #information {
        padding: 2vmin;
        font-size: 5vmin;
        border-radius: 0.5em;
        font-weight: bolder;
    }

    .section-2 h4 {
        padding: 1vmin;
        font-size: 4vmin;
    }

    .section-2 p {
        font-size: 3.5vmin;
        padding-right: 1em;
        padding-left: 1em;
    }

    .section-2a h2 {
        font-size: 1.75em;
    }

    .section-2a .list {
        font-size: 3vmin;
        text-align: center;
        padding-right: 60px;
    }

    .section-3 .team {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-3 .card {
        width: 20rem;
        border-radius: 1em;
        padding: 0.5em;
    }

    .section-3 .card img {
        width: 80%;
        height: 200px;
    }

    .section-3 .col-md-4 {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    footer .phone {
        text-align: center !important;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    footer .phone p {
        font-size: 4vmin;
    }

    .buttons-position img {
        width: 70px;
        height: 70px;
        padding: 1vmin;
    }

    .maps {
        margin: 10px;
        text-align: center;
    }

    .maps div iframe {
        max-width: 100%;
        max-height: 100%;
        height: 450px;
    }
}

@media only screen and (min-width: 1440px) {
    .carousel-item img {
        height: 700px;
        border-radius: 0.5em;
    }
}