* {
    box-sizing: border-box;
}

header,
section {
    overflow: hidden;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bggradient: linear-gradient(to bottom,
            #2c3e50, #34495e);
}

header a {
    font-size: 0.9em;
    color: #ecf0f1;
}

header {
    background: #8e44ad;
    background: var(--bggradient);
}

#4834d4
header .nav-link {
    padding: 0.9em;
    padding-right: 0.9em;
    font-size: 1.2em;
}

header .navbar-brand {
    padding-left: 2.5rem;
    font-size: 2.4em;
}

header .navbar-brand:hover {
    color: #222f3e;
}

header .nav-link:hover {
    color: #222f3e;
}

header .row .col-md-6 img {
    width: 55%;
}

header .container {
    padding-bottom: 10vmin;
}

header .container .col-md-6 h3 {
    font-size: 5.5vmin;
    font-weight: bold;
    padding: 10vmin 1vmin;
    color: #c8d6e5;
}

.section-1 {
    padding: 7vmin 5vmin;
}

.section-1 h4 {
    padding-bottom: 3vmin;
    font-size: 2em;
    font-weight: bolder;
}

.carousel-item img {
    opacity: 0.95;
    width: 80%;
    height: 400px;
    border-radius: 0.5em;
}

#information {
    background-color: #341f97;
    padding: 3vmin;
    font-size: 4vmin;
    border-radius: 0.5em;
    font-weight: bolder;
}

.section-2 h4 {
    padding: 2vmin;
    font-size: 3vmin;
}

.section-2 p {
    padding: 1vmin;
    font-size: 2vmin;
}

.section-3 #services {
    font-size: 6vmin;
    font-style: bold;
    font-weight: bolder;
    padding-top: 2vmin;
}

.section-3 .team {
    padding: 6vmin 4vmin;
}

.section-3 .card {
    width: 27rem;
    border-radius: 1em;
}

.section-3 .card .card-text {
    padding: 0.5em;
}

.section-3 .card img {
    width: 80%;
    height: 300px;
}

footer {
    background: linear-gradient(to bottom,
            #787c7e, #161718);
    ;
}

footer h1 {
    color: #c8d6e5;
    padding: 20px;
}

footer .phone {
    border-radius: 3em;
    background: #8395a7;
    display: inline-block;
    padding: 1vmin 8.5vmin;
    margin: 1em;
}

footer .phone p {
    font-size: 2.3vmin;
}

@media only screen and (max-width: 550px) {
    .carousel-item img {
        height: 300px;
        border-radius: 0.5em;
    }

    #information {
        background-color: #2e86de;
        padding: 2vmin;
        font-size: 5vmin;
        border-radius: 0.5em;
        font-weight: bolder;
    }

    .section-2 h4 {
        padding: 1vmin;
        font-size: 4vmin;
    }

    .section-2 p {
        font-size: 3vmin;
    }

    .section-3 .team {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-3 .card {
        width: 20rem;
        border-radius: 1em;
        padding: 0.5em;
    }

    .section-3 .card img {
        width: 80%;
        height: 200px;
    }

    .section-3 .col-md-4 {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    footer .phone {
        text-align: center !important;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    footer .phone p {
        font-size: 4vmin;
    }
}

@media only screen and (min-width: 1440px) {
    .carousel-item img {
        height: 700px;
        border-radius: 0.5em;
    }
}
